1. How to create a series from a list, numpy array and dict?

In [1]:
# importing necessary python libraries
import numpy as np
import pandas as pd

In [4]:
# inputs
word_list = list(['Nishan Limbu', 'Saru Limbu', 'Priya Limbu'])
numpy_array = np.arange(1, 11)
alphabet_dictionary = {'A': 0, 'B': 1, 'C': 2, 'D':3, 'E':4, 'F':5}

In [5]:
# creating a series from the above inputs
series1 = pd.Series(word_list)
series2 = pd.Series(numpy_array)
series3 = pd.Series(alphabet_dictionary)

In [6]:
# printing all the series
print(series1)
print(series2)
print(series3)

0    Nishan Limbu
1      Saru Limbu
2     Priya Limbu
dtype: object
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
A    0
B    1
C    2
D    3
E    4
F    5
dtype: int64

2. How to combine many series to form a dataframe?

In [7]:
# input of two series
series1 = pd.Series(word_list)
series2 = pd.Series(numpy_array)

In [8]:
# using pandas DataFrame
df = pd.DataFrame(series1, series2).reset_index()
df

   index            0
0      1   Saru Limbu
1      2  Priya Limbu
2      3          NaN
3      4          NaN
4      5          NaN
5      6          NaN
6      7          NaN
7      8          NaN
8      9          NaN
9     10          NaN

In [9]:
# using pandas DataFrame with a dictionary, gives specific columns name
df = pd.DataFrame({'col-1':series1, 'col-2':series2})
df.head()

          col-1  col-2
0  Nishan Limbu      1
1    Saru Limbu      2
2   Priya Limbu      3
3           NaN      4
4           NaN      5

In [11]:
# uisng concat()
ser_df = pd.concat([series1, series2], axis=1)

ser_df.head()

              0  1
0  Nishan Limbu  1
1    Saru Limbu  2
2   Priya Limbu  3
3           NaN  4
4           NaN  5